.MainBlock {
   width: 100%;
   height: 100%;
   overflow: hidden;
   position: fixed;
   z-index: -1;
}

.Up {
   top: 25%;
   left: 50%;
}

.Down {
   top: 75%;
   left: 50%;
}

.Up,
.Down {
   width: 80vh;
   height: 80vh;
   position: absolute;
   backdrop-filter: blur(4px);
   border-radius: 50%;
   transform: translate(-50%, -50%);
   z-index: -1;
}

.UpTwo_Back,
.DownTwo_Back {
   width: 65vh;
   height: 65vh;
   border-radius: 35%;
   animation-name: animation_background;
   animation-duration: 70s;
}

.UpOne_Back,
.DownOne_Back {
   width: 55vh;
   height: 55vh;
   border-radius: 40%;
   animation-name: animation_background-right;
   animation-duration: 50s;
}

.UpOne_Back,
.DownOne_Back,
.UpTwo_Back,
.DownTwo_Back {
   z-index: -3;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%) rotate(-30deg);
}

.UpOne_Back,
.UpTwo_Back {
   top: 25%;
   left: 50%;
}

.DownOne_Back,
.DownTwo_Back {
   top: 75%;
   left: 50%;
}

@keyframes animation_background {
   from {
      transform: translate(-50%, -50%) rotate(-30deg);
   }

   to {
      transform: translate(-50%, -50%) rotate(700deg);
   }
}

@keyframes animation_background-right {
   from {
      transform: translate(-50%, -50%) rotate(30deg);
   }

   to {
      transform: translate(-50%, -50%) rotate(-700deg);
   }
}